* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-width: 400px;
}


#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    height: 32vh;
}

.header-logo {
    position: relative;
    top: 4vh;
    background-size: cover;
}

.admin {
    display: flex;
    justify-content: center;
}

.hadmin {
    margin: 0 10px;
}

.header-logo img {
    display: flex;
    margin: 0 auto;
    width: 7vmin;
    height: 7vmin;
    border-radius: 50vmin;
    transition: box-shadow 0.3s ease-in-out;
}

.header-logo img:hover {
    box-shadow: 0 0 10px 5px rgb(107, 160, 72, 0.7);
}


.header-container {
    position: relative;
    top: 7vh;
    width: 35vmin;
    height: 8vmin;
    min-width: 270px;
    min-height: 70px;
    margin: 1vmin auto;
    border-radius: 50vmin;
    background: linear-gradient(to right, #54b3d8, #206dc5);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}


.header-container span {
    margin: 0 auto;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.header-description {
    position: relative;
    top: 8vh;
    width: 30vmin;
    height: 4vmin;
    min-width: 300px;
    min-height: 40px;
    margin: 1vmin auto;
    border-radius: 50vmin;
    background: linear-gradient(to right, #54b3d8, #206dc5);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}

.header-description span {
    margin: 0 auto;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

section {
    display: flex;
}

.buttons-container {
    position: relative;
    top: 20vh;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.profilebuttonscontainer {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pdfbuttonscontainer {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.login-button,
.register-button {
    padding: 10px 20px;
    font-size: 1.3em;
    margin: 10px 10px;
}


.delete-button {
    padding: 10px 20px;
    font-size: 1.3em;
    margin: 10px 10px;
}


.change-button {
    padding: 10px 20px;
    font-size: 1.3em;
    margin: 10px 10px;
}

.modify-button {
    padding: 10px 20px;
    font-size: 1.3em;
    margin: 10px 10px;
}


button {
    width: 30vmin;
    height: 4vmin;
    min-width: 300px;
    min-height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0.9;
    background: linear-gradient(to right, #54b3d8, #206dc5);
    color: whitesmoke;
    border: none;
    border-radius: 50vmin;
    margin: 0px 0px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0 0 10px 5px rgb(107, 160, 72, 0.7);
    background: linear-gradient(to right, #206dc5, #54b3d8);

}

/*-------------------Formulario Registro-----------------*/

.form-container {
    position: relative;
    top: 1vmin;
    width: 30vmin;
    height: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 5vmin;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    opacity: 0.9;
    background: linear-gradient(to right, #54b3d8, #206dc5);
    ;
}

form label {
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #6ba048, #3bb930);
    color: whitesmoke;
    border: none;
    border-radius: 5vmin;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: linear-gradient(to right, #88e24d, #0a4d04);
}

input::placeholder {
    color: #6ba048;
}


.delete-container {
    position: relative;
    top: 16vh;
    width: 40vmin;
    height: 5vmin;
    min-width: 300px;
    min-height: 40px;
    margin: 1vmin auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.delete-container span {
    margin: 0 auto 5px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#yesbtn,
#nobtn {
    margin-top: 2vmin;
}

.one {
    margin: 0 auto;
}



p#texto {
    position: relative;
    display: flex;
    color: white;
    top:30%;
    margin:0 auto;
    font-weight: bold;

}

div#div_file {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: #1485ca;
    border-radius: 3vmin;
    margin-top: 25px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}

input#btn_enviar {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 0;

}



div#div_file:hover {
    background: linear-gradient(to right, #88e24d, #0a4d04);
    box-shadow: 0 0 10px 5px rgb(107, 160, 72, 0.7);
}

.two {
    padding: 15px;
    height: 20vh;
    border: 0;
}


input#btn_charge {
    width: 100%;
    height:20%;
    padding: 0;
    background: linear-gradient(to right, #6ba048, #3bb930);
    color: whitesmoke;
    border: none;
    border-radius: 5vmin;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}
form input#btn_charge[type="submit"]:hover {
    background: linear-gradient(to right, #88e24d, #0a4d04);
    box-shadow: 0 0 10px 5px rgb(107, 160, 72, 0.7);
}


